{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> TOES Admin Web Page</title>

    <style>




body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 58px;
  left: 0;
  background-color: #6f008a;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.dropdown-menu {
  background-color: #0d47a1;

}

.dropdown-menu a{
 color: #818181;
}
.dropdown-menu a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: -1px 10px;
}

.pillnav {
  margin-left: 0px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: -1px 10px;
}



.bg-light {
    background-color: #7a0099!important;
}





img {
  border-radius: 40%;
}


</style>
  </head>
  <body>



<div class="sidenav">
  <a href=" {% url 'Home' %} " style="margin-top: 30px;">Home</a>
  <a href="#services">Recruiter</a>
  <a href="#clients">Worker</a>
  <a href=" {% url 'register' %} " >Registeration</a>

  <div class="Container" style="margin-left: 30px;color:#989898">
  <h6 style="margin-top: 280px; ">Date : <h6 id="date"></h6></h6>
  <h6>Time : <h6 id="time"></h6></h6>

</div>
</div>

<div class="pillnav">

    <nav class="navbar navbar-brand-center navbar-light bg-light fixed-top justify-content-between">
     <a class="navbar-brand-center" ><img src="{% static 'media/logo4.png' %} "alt="Avatar" style="width: 50px;margin-right: 10px;margin-left: 40px;"></a>
 <div class="nav-item nav-link "style="color:white">PILLARS</div>
      <div class="nav-item nav-link dropdown" >
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="{% static 'media/logo5.png' %}" alt="Avatar" style="width:50px"><span class="caret"></span></a>

      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a  href="{% url 'sign_in' %}">Sign out</a></li>

        </ul>
      </div>

</nav>

</div>


<div class="container">

{% block content %}

 <div class="row" style="  margin-top: 100px;">


        <div class="card" style="width: 20rem;margin: auto;">
            <div class="card-body" style="background-color: #f1e3f1">
              <h5 class="card-title">Total Workers</h5>
              <h2 class="card-subtitle mb-2 text-muted">1 Million</h2>
           </div>
        </div>

           <div class="card" style="width: 20rem;margin: auto;">
            <div class="card-body" style="background-color: #f1e3f1">
              <h5 class="card-title">Total Recruiters</h5>
              <h2 class="card-subtitle mb-2 text-muted">1 Million</h2>
            </div>
          </div>


      </div>

      <div class="row" style="  margin-top: 50px;">

        <div class="card" style="width: 20rem;margin: auto;">
            <div class="card-body" style="background-color: #f1e3f1">
              <h5 class="card-title">Total Requests</h5>
              <h2 class="card-subtitle mb-2 text-muted">1 Million</h2>
           </div>
        </div>

           <div class="card" style="width: 20rem;margin: auto;">
            <div class="card-body" style="background-color:#f1e3f1">
              <h5 class="card-title">Accepted Requests</h5>
              <h2 class="card-subtitle mb-2 text-muted">1 Million</h2>
            </div>
          </div>


      </div>

   <div class="row" style=" margin-top: 50px;">

      <div id="piechart" style="margin: auto;"></div>
      <div id="piechart2" style="margin: auto;"></div>

{% endblock %}
      </div>

</div>



<script>
var d = new Date();
var date = d.toLocaleDateString();
var time = d.toLocaleTimeString();
document.getElementById("date").innerHTML = date;
document.getElementById("time").innerHTML = time;
</script>





<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Monthly Request', 8],
  ['Monthly Request Accepted', 2],

]);


  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data);
}
</script>





<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Total Recruiters', 6],
  ['Total Workers', 4],

]);


  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
  chart.draw(data);
}
</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
